<html>
<head>
    <meta charset="utf-8">
    <title>Anmälan om ny/ändrad förtroendevald</title>
</head>
<body>
    <h1>Anmälan om ny/ändrad förtroendevald</h1>
    {% for key, value in caseInformation.data.items() %}
        <p><b>{{value.label|e}}:</b>
        {% if value.component == "Checkboxes" %}
            {% for item in value.value %}
                {{item.text|e}}, 
            {% endfor %}
        {% else %}
            {{value.value|e}}
        {% endif %}
        </p>
    {% endfor %}
    
</body>
</html>
