<html>
<head>
    <meta charset="utf-8">
    <title>{{ header }}</title>
    <style type="text/css">
        #header {
            font-size: 2em;
            font-weight: bold;            
        }
        .parameter {
            font-family: 'FranklinGothic URW';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            padding-top: 20px;
        }
        .caption {
            color: #000000;
        }
        .value {
            color: #707070;
            display: flex;
            align-items: center;
            width: 386px;
            height: 45px;
            padding-left: 10px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div id="header" >
        {{ caseInformation.name }}
    {% for key, value in caseInformation.data.items() %}
        <div class="parameter">
           <p><b> {{value.label|e}}</b> : {{value.value|e}}</p>
        </div>
    {% endfor %}
    </div>
</body>
</html>
